
html {
  background-color: #cfdadf;
}

h1 {
  font-family: 'Rokkitt', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #4a5355;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #3e4547;
  margin-top: 10px;
}

.location-button {
  width: 10%;
  height: 35px;
  border: none;
  background-color: $button-color-enabled;
  border-radius: 5%;
  color: white;
&:hover {
  background-color: $button-color-hover;
}
&:disabled {
  background-color: $button-color-disabled;
}
  }

.location-input {
  font-size: 18px;
  width: 50%;
  height: 30px;
  margin-left: 22%;
  margin-right: 10px;
  margin-bottom: 45px;
}

.invalid-message {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #4a5355;
}
