$button-color-enabled: #52538e;
$cold-weather-background-color: #d6d0e1;
$cold-weather-font-color: #1b2c29;
$warm-weather-background-color: #d1bb66;
$warm-weather-font-color: #304c86;
$rain-background-color: #9baeb7;
$rain-font-color: #51495b;
$snow-background-color: #b5c5d5;
$snow-font-color: #175147;
