$button-color-enabled: #4a5355;
$button-color-hover: #708184;
$button-color-disabled: #9ba3a5;
$forecast-font-color: #4a5355;
$cloudy-background-color: #b8cbe4;
$sunny-background-color: #a1e1ff;
$rain-background-color: #a0afe6;
$snow-background-color: #d1f6ff;
$windy-background-color: #92add0;
$storm-background-color: #aba5d9;
$fog-background-color: #99cec5;
